@model Korpa387.Models.Proizvodjac

@{
    ViewBag.Title = "Delete";
}
<nav class="blue darken-2  hide-on-med-and-down marginDown">
    <div class="nav-wrapper">
        <ul class="left">
            <li class="bold"><a href="#">Početna</a></li>
        </ul>
        <ul class="right">
            @Html.Partial("_LoginPartial")
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2 l8 offset-l2 white">

            <h3>Želite obrisati proizvođača:</h3>
            <h4>@Html.DisplayFor(model => model.Naziv)</h4>
                

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color" style="margin-bottom:20px;">
                        <input type="submit" value="Obriši" class="btn btn-default" /> |
                        @Html.ActionLink("Nazad", "Details",new { id = Model.ID })
                    </div>
                }
            
        </div>
    </div>
</div>
