
@{
    ViewBag.Title = "Error 404";
}

<div class="container">
    <div class="row">
        <div class="col s10 offset-s1 m4 offset-m4 l4 offset-l4 " style="margin-top:35px;">
            <center><h3 class="white-text">Ovdje nema ništa?</h3></center>
            <img src="~/Images/404.png" class="scale" />
        </div>
    </div>
</div>

