@{
    ViewBag.Title = "Home Page";
}

<nav class="blue darken-2  hide-on-med-and-down marginDown">
    <div class="nav-wrapper">
        <ul class="left">
            <li class="bold"><a href="#">Početna</a></li>
        </ul>
        <ul class="right">
            @Html.Partial("_LoginPartial")
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col collection with-header s12 m10 offset-m1 l10 offset-l1  white">
            <center><h3>Dobrodošao na Korpa387!</h3></center>
            <hr />
            <p>Možete se logovati kao jedan od navedenih korisnika:</p>
            <table class="striped">
                <tr>
                    <td>Username</td>
                    <td>Password</td>
                </tr>
                <tr>
                    <td>admin@example.com</td>
                    <td>admin</td>
                </tr>
                <tr>
                    <td>korisnik@example.com</td>
                    <td>korisnik</td>
                </tr>
            </table>
            <p>Naravno, prijava kao Admin ima svoje prednosti. Kao admin možete pregledati listu svih korisnika: <a href="@Url.Action("Index","Korisnik")">OVDJE</a> ,(morate biti logovani).</p>
            <p>Isto tako se možete prijaviti kao jedan od proizvođača:</p>
            <table class="striped">
                <tr>
                    <td>Username</td>
                    <td>Password</td>
                </tr>
                <tr>
                    <td>hifa@bih.net.ba</td>
                    <td>test</td>
                </tr>
                <tr>
                    <td>info@pivara.ba</td>
                    <td>test</td>
                </tr>
            </table>
            <p>Kao proizvođač možete uređivati svoje proizvode.</p>
        </div>
    </div>
    

</div>
            
                
            

     